<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Attribuutit fontti ja header teksti-->
<!--        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/> -->
    </head>    
        <body>
           
            <h1>Lisää uusi levy arkistoon</h1>
            <div>
                <form method="post" enctype="application/json" action="cdlevyt"> 
                    
                    Nimi: <input type="text" required placeholder="Levyn nimi" name="nimi"><br/><br/>
                    Formaatti: <input type="text" required placeholder="Formaatti" name="formaatti"><br/><br/>
                    Levyn sijainti: <input type="text" required placeholder="Levyn sijainti" name="levyn_sijainti"><br/><br/>
                    Arvostelu: <input type="number" required placeholder="Arvostelu" name="arvostelu"><br/><br/>
                    Kappaleet: <input type="text" required placeholder="Kappaleet" name="kappaleet"><br/><br/>
                    
                    <input type="submit" value=" send">
                
                
                
                
                
                </form>
            
    
            </div>
 <!--            <form>
                  <div class="form-group">
                    <label for="InputName">Name</label>
                    <input type="name" class="form-control" id="InputName" placeholder="Name">
                  </div>
                
                  <div class="form-group">
                    <label for="InputAddress">Address</label>
                    <input type="address" class="form-control" id="InputAddress" placeholder="Address">
                  </div>
                
                  <div class="form-group">
                    <label for="InputAge">Age</label>
                    <input type="age" class="form-control" id="InputAge" placeholder="Age">
                  </div>
                
                  <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                  </div>
                 
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                
                  <div class="form-group">
                    <label for="InputFile">File input</label>
                    <input type="file" id="InputFile">
                    <p class="help-block">Example block-level help text here.</p>
                  </div>
                
                
                  <button type="submit" class="btn btn-default">Submit</button>   
     </form>       -->
            
            
        </body>
    
    
    
</html>