<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <!--Attribuutit fontti ja header teksti-->
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <nav id="head">
            <a href="addCdlevy.html">Lisää uusi levy</a>
            </nav>
        
            <section>
                <h1 class="about">About</h1>
                <table class="table">
                    
                    
                    <thead>        
<!--                         <tr> 
                            <th>Name</th>
                            <th>Addr</th>
                            <th>Age</th>
                        </tr>                   -->
                    </thead>
                    
                    <tbody>
                    </tbody>
                    
                </table>
        
                
            </section>
            
            <footer data-dummy="">               
                <p>Copyright by psavela</p>
            </footer>
        </div>
        
        
        
        <!--paragraph elementti-->
  <!--      <p>Hello earth habitants!</p>-->
  <!--      <div class="mun_keksima">terve</div>-->
   <!--     <div class="fancy mun_keksima">taas</div>-->
   <!--     <p class="fancy">Hei</p>-->
    <!--    <p id="para1">Tadaa Id tyyliä pukkaa</p>-->
        
        <!--input elementillä attribuuttina type-->
  <!--      <input type="color" class"nice"/>-->
  <!--      <input type="text" placeholder="Enter your name"/>-->
        <script src="/lib/jquery-1.11.3.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>